@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 20px;
}

.header-title-logo {
  display: flex;
  flex-direction: column;
}

.logo {
  max-width: 250px;
  max-height: 250px;
  height: auto;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #6e4bf7;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.product:hover {
  transform: scale(1.05);
  border: 1px solid #04d691;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-name {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-price {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #bcbcbc;
}

@media screen and (max-width: 520px), (max-height: 618px) {
  .product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .products-container {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media screen and (max-width: 380px), (max-height: 618px) {
  .product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .products-container {
    grid-template-columns: repeat(1, 2fr);
  }
}

@media screen and (max-width: 320px), (max-height: 618px) {
  .product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
